
.category{
    position: fixed;
    .list-category{
        width: 100%;
    }
    &__menu{
        li{
            cursor: pointer;
            border:1px solid black;
            margin-bottom: 10px;
            list-style: none;
            padding:0px 30px 0 30px;
        }
    }
}