.todoApp{
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    align-items: center;
    h2{
        color: rebeccapurple;
    }
}
body {
    font-family: 'Poppins', sans-serif; 
    background-color: greenyellow;
  }