.todoApp{
    display: flex;
    flex-direction: column;
    align-items: center;
    h2{
        color: rebeccapurple;
    }
}
body {
    font-family: 'Poppins', sans-serif; 
    background-color: greenyellow;
  }